body {
    background: white;
    text-align: center;
}
p {
    color: crimson
}
h1 {
    font-size: larger;
}

title{
    text-align: center;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

#_table {
    margin-left: auto;
    margin-right: auto
}